NAME = vtuber
DOMAIN = vtuber.natsumes.cc
PORT = 51227

SESSION_SECRET=

OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_GOOGLE_REDIRECT=/auth/google

OAUTH_DISCORD_CLIENT_ID=
OAUTH_DISCORD_CLIENT_SECRET=
OAUTH_DISCORD_REDIRECT=/auth/discord
