@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE */
html {
  -ms-overflow-style: none;
}
